<br><br>

<div class="container">

  <script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('9feca0caa7a1854d8f87', {
      cluster: 'ap2'
    });
    var channel = pusher.subscribe('my-channel');
    channel.bind("{{chatId}}", function(data) {
      document.getElementById("messages").value +=  "\n"+ data.name + ": " + data.message
    });
    setInterval(function(){
        var textarea = document.getElementById('messages');
        textarea.scrollTop = textarea.scrollHeight;
    }, 2000);
    $(document).ready(function () {
        $('#myform').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                url : $(this).attr('action') || window.location.pathname,
                type: "POST",
                data: $(this).serialize(),
                success: function (data) {
                    document.getElementById("message").value = ""
                },
                error: function (jXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    });
  </script>

    <form id = "myform" action="/chats/send" method="post">
      <div class="column">
        <h1>Chat away</h1>
        <div>
          <label for="Message">Message:</label>
          <input type="text" id="message" name="message" value="">
          <input type="hidden" id="chatId" name="chatId" value="{{chatId}}">
          <input type="submit" value="Send">
        </div>
        <div>
          <textarea class="form-control" id="messages" rows="14">
            {{#each messages}}
            {{this.byName}}: {{this.message}}
            {{/each}}
          </textarea>
        </div>
      </div>
  </form> 

  <br><br>

  <!-- <label for="messages">All messages:</label> -->
<!--   <textarea id="messages" name="messages" rows="4" cols="50">
{{#each messages}}
{{this.byName}}: {{this.message}}
{{/each}}
  </textarea> -->

</div>